body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    height: 150vh;
}

.container {
    display: flex;
    /* height: 100vh; */
}

.sidebar {
    background: #ffffff;
    margin: 15px;
    width: 340px;
}

.preview {
    background: #f9fafd;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.layout-placeholder {
    color: #464b5b;
    font-size: 18px;
}

.accordion {
    background: #e6ebff;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 15px;
}

.accordion-title {
    color: #0033ff;
    font-weight: 800;
    font-size: 18px;
    margin: 0;
}

.label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: 700;
}

input {
    box-sizing: border-box;
}

.form-control {
    background-color: #ffffff;
    border: 1px solid #d6dae4;
    border-radius: 3px;
    padding: 6px 12px;
    height: 38px;
    width: 100%;
    margin-bottom: 20px;
}

label {
    font-size: 14px;
}

input[type="radio"] {
    margin: 0;
    width: 15px;
    height: 15px;
}

.radio-select {
    display: flex;
    align-items: center;
    gap: 5px;
}

.radio-group {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 20px;
}

.preview{
  padding-top: 20px;
  flex-wrap: wrap;
}

.card {
  width: 100%;
  max-width: 425px;
  height: auto;
  border: 1px solid #ccc;
  overflow: hidden;
}

#cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  width: 75%;
  gap: 10px;
}

.card-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-header {
  display: flex;
  flex-direction: row;

}

.card-header-info {
  display: flex;
  flex-direction: column;
  height: fit-content;
}

.card-logo {
  padding: 15px;
}

.cards-container {
  --card-bg-color: #ffffff; /* default card background color */
  background-color: var(--card-bg-color);
  /* rest of the CSS */
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px; /* default gap value */
  cursor: pointer;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 10px;
}


.card-title {
  display: flex;
  align-items: center;
  max-height: 10px;
}

.card-date {
  font-size: 12px;
  margin-top: -10px;
}

.rounded-circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding: 15px;
  /* margin-right: 20px; */
}

.card-img-top {
  width: 93%;
  height: 325px;
  object-fit: cover;
  padding: 0 15px;
}

.card-body {
  padding: 0 15px;
  height: 40px;
  margin-bottom: 20px;
}

.card-footer {
display: flex;
padding: 15px;
gap: 5px;
}

.line {
  display: flex;
  width: 93%;
}

.card-text {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2; /* change this value to adjust the maximum number of lines */
}

.likes {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.likes i {
  margin-right: 5px;
  color: #ccc;
}


.caption h3 {
  margin-top: 0;
}

.button {
  width: 100%;
  max-width: 800px;
  margin-left: 35px;
}

.load-btn {
  display: flex;
}

.load-more-btn {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.load-more-btn:hover {
  background-color: #0062cc;
}

.dark-theme .card {
  background-color: #333;
  color: #fff;
}

.light-theme .card {
  background-color: #fff;
  color: #000;
}

